body {
    font-family: verdana;
    background-color: #e7f2f1;
    text-align: left;
    font-size: 12px;
}

colors {
}

h1{
}

h2{
    color: #141d1c;
    font-size: 20px;
}

h3{
    color: #618f8a;
    font-size: 15px;
}

h5{
    color: #f3974a;
    
}

div{
    text-align: left;
    padding: 2px;
}


