body {
    font-family: verdana;
    background-color: #e7f2f1
}

colors {
}

h1{
}

h2{
    color: #141d1c;
    font-size: 30px;
}

h3{
    color: #618f8a;
    font-size: 20px;
}

h5{
    color: #f3974a;
    
}


